.containContacto {
    display: flex;
    justify-content: center;
}

.contacto {
    width: 90%;
    max-width: 750px;
    height: fit-content;
    padding: 20px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $color-primario;
    box-shadow: 7px 13px 37px $color-sombras;
    color: $color-contraste;

    &__titulo {
        text-align: center;
        height: 40px;
        margin-bottom: 30px;
        border-bottom: 2px solid $color-contraste;
        font-size: 1.6rem;
        color: $color-contraste;
        font-weight: 400;

    }

    &__input {
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid $color-secundario;
        padding: 10px;
        font-size: 0.9rem;
    }

    &__cliente {
        text-align: center;
        margin: 15px 0px 15px 0px;

    }

    &__select {
        background-color: $color-contraste;
        border: 1px solid $color-secundario;
        width: 150px;
        height: 25px;
        font-size: 0.9rem;
    }

    &__textArea {
        width: 100%;
        max-height: 175px;
        border: 1px solid $color-secundario;
        font-size: 0.9rem;

        &:focus {
            outline: none;
        }
    }

    &__label {
        margin: 15px 0px 15px 0px;
        font-size: 0.9rem;
    }
}