.portada {
    @include flexcolumn;
}

.caja1 {
    @include flexcolumn;
    padding: 10px;

    &__texto {
        font-size: 2rem;
        font-family: $tipo-secundaria;
        text-align: center;
    }

    &__texto2 {
        font-size: 1.3rem;
        font-family: $tipo-secundaria;
        font-weight: 400;
        text-align: center;
        margin-top: 3px;
    }
}

.caja2 {
    width: 100%;

    &__img {
        @include imagenes;
    }
}

.caja3 {
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    background-color: $color-secundario;
    color: $color-contraste;
    font-family: $tipo-primaria;

    &:hover {
        background-color: $color-primario;
    }
}

.portada2 {
    @include flexcolumn;
    align-items: center;
}

.caja4 {
    width: 100%;

    &__img {
        @include imagenes;
    }
}

.caja5 {
    display: flex;
    justify-content: center;
    width: 100%;
}



.estiloLista {
    font-size: 1.3rem;
    list-style: inside;
    padding: 10px;
    font-family: $tipo-secundaria;
    line-height: normal;

    &:hover {
        color: $color-primario;
    }
}


@media (min-width: 1200px) {
    .portada {
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 60vh;
    }

    .caja1 {
        padding: 100px 50px 100px 200px;
        margin-left: 5px;
        width: 50%;

        &__texto {
            text-align: left;
        }

        &__texto2 {
            text-align: left;
        }
    }



    .caja2 {
        width: 50%;
        height: 60vh;
        overflow: hidden;
    }

    .caja3 {
        margin-top: 0;
        font-size: 3rem;
    }

    .portada2 {
        flex-direction: row;

    }

    .caja4 {
        width: 50%;
    }

    .caja5 {
        width: 50%;
        justify-content: flex-start;
    }

    .estiloLista {
        padding: 25px;
        transition-duration: 250ms;

        &:hover {
            transform: translateY(-5px);
        }
    }
}