.portada {
    @include flexcolumn;
}

.caja1 {
    @include flexcolumn;
    padding: 10px;
}

.caja1__texto {
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
}

.caja1__texto2 {
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
}

.caja2 {
    width: 100%;

}

.caja2__img {
    @include imagenes;
}

.caja3 {
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    background-color: $color-secundario;
    color: $color-contraste;
    font-family: kollektif;

    &:hover {
        background-color: $color-primario;
    }
}

.portada2 {
    @include flexcolumn;
    align-items: center;

}

.caja4 {
    display: flex;
    width: 100%;

}

.caja4__img {
    @include imagenes;
}

.caja5 {
    display: flex;
    justify-content: center;
    width: 100%;
}



.estiloLista {
    font-size: 1.3rem;
    list-style: inside;
    padding: 10px;
    font-family: sans-serif;
    line-height: normal;

    &:hover {
        color: $color-primario;
    }
}


@media (min-width: 1200px) {
    .portada {
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 60vh;
    }


    .caja1 {
        padding: 100px 50px 100px 200px;
        margin-left: 5px;
        width: 50%;
    }



    .caja1__texto {
        text-align: left;
    }

    .caja1__texto2 {
        text-align: left;
    }

    .caja1__boton {
        margin-top: 50px;
        align-self: flex-start;
        
    }

    .caja2 {
        width: 50%;
        height: 60vh;
        overflow: hidden;
    }

    .caja3 {
        margin-top: 0;
        font-size: 3rem;
    }

    .portada2 {
        flex-direction: row;

    }

    .caja4 {
        width: 50%;
    }

    .caja5 {
        width: 50%;
        justify-content: flex-start;
    }

    .estiloLista {
        padding: 25px;
        transition-duration: 250ms;

        &:hover {
            transform: translateY(-5px);
        }
    }
}