.clientes {
    @include flexcolumn;
    align-items: center;
    width: 90%;
    max-width: 467px;
    height: fit-content;
    padding: 20px 30px;
    margin-top: 50px;
    margin-bottom: 120px;
    background-color: $color-primario;
    box-shadow: 7px 13px 37px $color-sombras;
    
&__titulo {
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 2px solid $color-contraste;
    font-size: 1.5rem;
    color: $color-contraste;
    font-weight: 400;
    font-family: $tipo-primaria;
}

&__input {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid $color-secundario;
    padding: 10px;
    font-family: $tipo-primaria;
}

&__texto {
    height: 40px;
    text-align: center;
    border-bottom: 2px solid $color-contraste;
}

&__link {
    color: $color-contraste;
}

&__img {
    width: 200px;
    padding: 10px;
}
}