.tituloProductos {
    text-align: center;
    font-size: 3rem;
    padding: 20px;
    text-decoration: underline;
    font-family: $tipo-primaria;

}
.productos {
    @include flexw;
    gap: 70px;
    justify-content: center;
    padding-bottom: 20px;
}

@media (min-width:1200px) {
    .productos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 20px;
        margin-bottom: 30px;
    }
}