.quienesSomos {
    @include flexw;
    padding: 30px 5px;
    gap: 50px;
    justify-content: center;
}

.quienesSomos__cajas {
    @include flexcolumn;
    width: 500px;
    margin: 20px;
    overflow: hidden;
    transition-duration: 150ms;

    &:hover {
        transform: translateY(5px)
    }
}

.quienesSomos__titulos {
    text-decoration: underline;
    padding-bottom: 20px;
    font-size: 2rem;
    font-family: montserrat;

}

.quienesSomos__texto {
    font-size: 1.3rem;
    font-family: montserrat;
    font-weight: 400;

}

.quienesSomos__lista {
    list-style: inside;

    &:hover {
        color: $color-primario
    }
}