// boton de caja1 index
.caja1__boton {
    align-self: flex-end;
    font-size: 1.1rem;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: $color-secundario;
    color: $color-contraste;

    &:hover {
        background-color: $color-primario;
        color: $color-contraste;
    }
}

@media (min-width: 1200px) {
    .caja1__boton {
        margin-top: 50px;
        align-self: flex-start;
        font-size: 1.3rem;
        padding: 5px 20px;

    }
}

//boton de tarjeta productos
.productos__tarjeta__boton {
    font-size: 1.1rem;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: $color-secundario;
    color: $color-contraste;

    &:hover {
        background-color: $color-primario;
        color: $color-contraste;
    }
}

//boton de formulario contacto
.contacto__boton {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    box-shadow: 7px 13px 37px $color-sombras;
    transition-duration: 150ms;

    &:hover {
        transform: scale(1.03);
        color: $color-primario;
    }
}

//boton de ingreso a clientes
.clientes__boton {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    transition-duration: 150ms;

    &:hover {
        transform: scale(1.03);
        box-shadow: 7px 13px 37px $color-sombras;
        color: $color-primario;
    }
}

//boton de newsletter footer
.newsletter__boton {
    width: 60px;
    height: 30px;
    border: none;
    font-weight: 600;
    background-color: $color-contraste;
    color: $color-primario;
    font-family: $tipo-secundaria;
    font-size: 0.8rem;

    &:hover {
        color: $color-contraste;
        background-color: $color-primario;
        font-size: 0.9rem;
    }


}

//boton de construccion
.construccion__boton {
    font-size: 1rem;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: $color-secundario;
    color: $color-contraste;
    &:hover{
        background-color: $color-primario;
        color: $color-contraste;
    }
}


@media (min-width:768px) {
    .construccion__boton {
        font-size: 1.2rem;
    }
}

@media (min-width:1200px) {
    .construccion__boton {
        font-size: 1.5rem;
    }
}