footer {
    @include flexcolumn;
    background-color: $color-secundario;
    padding-bottom: 10px;
    }

.box {
    max-width: 100%;
    max-height: 150px;
    padding: 10px;

    &__titulo {
        font-size: 1.5rem;
        text-align: center;
        padding: 5px;
        color: $color-contraste;
        border-bottom: 2px solid $color-contraste;
    }

    &__texto {
        font-size: 0.9rem;
        font-weight: 400;
        text-align: center;
        padding: 5px;
        color: $color-contraste;
        font-family: $tipo-secundaria;
    }
}

.redes {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    a {
        font-size: 2rem;
        padding: 5px;
        color: $color-contraste;
    }
}

.newsletter {
    @include flexw;
    justify-content: center;
    gap: 3px;

    &__nombre {
        width: 150px;
        height: 30px;
        border: none;
        color: $color-sombras;
        font-family: $tipo-secundaria;
        font-size: 0.8rem;
    }

    &__email {
        width: 240px;
        height: 30px;
        border: none;
        color: $color-sombras;
        font-family: $tipo-secundaria;
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: space-evenly;
        }

    .box {
        width: 370px;

    }

    .redes {
        flex-direction: column;

        a {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 1400px) {
    footer {
        align-items: center;
    }

    .redes {
        width: 370px;
        flex-direction: row;
        justify-content: space-evenly;

        a {
            font-size: 2rem;
        }
    }
}