header {
    background-color: rgb(0, 74, 173);

}



.hideh1 {
    display: none;
}

.logo {
    max-width: 300px;

}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}



.link {
    color: white;
    font-size: 1.1rem;
    font-family: kollektif;
}

.link:hover {
    color: white;
    text-shadow: 10px;

}


@media (min-width: 768px) {
    header nav ul li:hover {
        transform: translateY(-5px);
    }

    .link {
        font-size: 1.3rem;
    }
}