header {
    background-color: $color-primario;

}

.hideh1 {
    display: none;
}

.logo {
    max-width: 300px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.link{
    color: $color-contraste;
    font-size: 1.1rem;
    font-family: kollektif;

&:hover {
    color: $color-contraste;
    text-shadow: 10px;
}
}

@media (min-width: 768px) {
    header nav ul li:hover {
        transform: translateY(-5px);
    }

    .link {
        font-size: 1.3rem;
    }
}