header {
    background-color: $color-primario;
}

.hideh1 {
    display: none;
}

.logo {
    max-width: 300px;
}

.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}

.link {
    color: $color-contraste;
    font-size: 1.1rem;
    font-family: $tipo-primaria;
    transition-duration: 100ms;

    &:hover {
        color: $color-contraste;
        transform: translateX(5px) ;
    }
}

@media (min-width: 768px) {
    header nav ul li:hover {
        transform: translateY(-5px);
    }

    .link {
        font-size: 1.3rem;
    }
}