* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: kollektif;
    src: url(../fonts/kollektif.ttf);
}

body {
    font-family: $tipo-primaria;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    line-height: normal;
}

input {
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    line-height: normal;
}

button,
input,
optgroup,
select,
textarea,
{
font-size: small;
line-height: normal;
}

