/* Error: expected "}".
 *    ,
 * 94 | }
 *    |  ^
 *    '
 *   scss\components\_buttons.scss 94:2  @import
 *   scss\main.scss 6:8                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a    \2577 \a 94 \2502  }\a    \2502   ^\a    \2575 \a   scss\\components\\_buttons.scss 94:2  @import\a   scss\\main.scss 6:8                  root stylesheet';
}
